/* selector{
    propiedad: valor;
} */
body{
    background-color: #E6E6E6;
    font-family:'Times New Roman';  
}

main{
    background: white;
}
h2{
    background-color: #C4C4C4;
}
h1,h2{
    text-transform: uppercase;
    color: #005677;
    line-height: 84.69%;
}
a{
    font-weight: bold;
}
.cursiva{
   
  font-style: italic;
}
